.btn{
    padding: 20px 30px;
    font-size: 2rem;
    margin: 20px;
}

.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.box img{
    height: 200px;
    box-shadow: inset 2px 2px 50px 5px rgb(86, 86, 86);
}

.box img:hover{
    box-shadow: inset 5px 5px 60px 7px  black;
}

.box{
    height: 200px;
    border: 2px solid rgb(182, 182, 252);
    border-radius: 8px;
   cursor: pointer;
 
}

p{
    color: rgb(108, 108, 248);
    text-align: center;
}

.heading{
    color: rgb(108, 108, 248);
    margin-left: 30px;
}

.sunset{
    height: 300px;
    width: 300px;
    border-radius: 10px;
    margin-left: 300px;
}

.hidden{
    display: none;
}

#container{
    width: 200px;
    height: 30px;
    border: 2px solid black;
    text-align: center;
    font-size: 1.3rem;
}

#counter{
    margin-bottom: 100px;
    display: flex;
}